In [3]:
import pandas as pd
df = pd.read_csv('fraudTest.csv')
df.head()

,Unnamed: 0,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,...,lat,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud
0,0,2020-06-21 12:14:25,2291163933867244,fraud_Kirlin and Sons,personal_care,2.86,Jeff,Elliott,M,351 Darlene Green,...,33.9659,-80.9355,333497,Mechanical engineer,1968-03-19,2da90c7d74bd46a0caf3777415b3ebd3,1371816865,33.986391,-81.200714,0
1,1,2020-06-21 12:14:33,3573030041201292,fraud_Sporer-Keebler,personal_care,29.84,Joanne,Williams,F,3638 Marsh Union,...,40.3207,-110.4360,302,"Sales professional, IT",1990-01-17,324cc204407e99f51b0d6ca0055005e7,1371816873,39.450498,-109.960431,0
2,2,2020-06-21 12:14:53,3598215285024754,"fraud_Swaniawski, Nitzsche and Welch",health_fitness,41.28,Ashley,Lopez,F,9333 Valentine Point,...,40.6729,-73.5365,34496,"Librarian, public",1970-10-21,c81755dbbbea9d5c77f094348a7579be,1371816893,40.495810,-74.196111,0
3,3,2020-06-21 12:15:15,3591919803438423,fraud_Haley Group,misc_pos,60.05,Brian,Williams,M,32941 Krystal Mill Apt. 552,...,28.5697,-80.8191,54767,Set designer,1987-07-25,2159175b9efe66dc301f149d3d5abf8c,1371816915,28.812398,-80.883061,0
4,4,2020-06-21 12:15:17,3526826139003047,fraud_Johnston-Casper,travel,3.19,Nathan,Massey,M,5783 Evan Roads Apt. 465,...,44.2529,-85.0170,1126,Furniture designer,1955-07-06,57ff021bd3f328f8738bb535c302a31b,1371816917,44.959148,-85.884734,0

In [5]:
df.describe()

,Unnamed: 0,cc_num,amt,zip,lat,long,city_pop,unix_time,merch_lat,merch_long,is_fraud
count,555719.000000,5.557190e+05,555719.000000,555719.000000,555719.000000,555719.000000,5.557190e+05,5.557190e+05,555719.000000,555719.000000,555719.000000
mean,277859.000000,4.178387e+17,69.392810,48842.628015,38.543253,-90.231325,8.822189e+04,1.380679e+09,38.542798,-90.231380,0.003860
std,160422.401459,1.309837e+18,156.745941,26855.283328,5.061336,13.721780,3.003909e+05,5.201104e+06,5.095829,13.733071,0.062008
min,0.000000,6.041621e+10,1.000000,1257.000000,20.027100,-165.672300,2.300000e+01,1.371817e+09,19.027422,-166.671575,0.000000
25%,138929.500000,1.800429e+14,9.630000,26292.000000,34.668900,-96.798000,7.410000e+02,1.376029e+09,34.755302,-96.905129,0.000000
50%,277859.000000,3.521417e+15,47.290000,48174.000000,39.371600,-87.476900,2.408000e+03,1.380762e+09,39.376593,-87.445204,0.000000
75%,416788.500000,4.635331e+15,83.010000,72011.000000,41.894800,-80.175200,1.968500e+04,1.385867e+09,41.954163,-80.264637,0.000000
max,555718.000000,4.992346e+18,22768.110000,99921.000000,65.689900,-67.950300,2.906700e+06,1.388534e+09,66.679297,-66.952026,1.000000

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 555719 entries, 0 to 555718
Data columns (total 23 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   Unnamed: 0             555719 non-null  int64
 1   trans_date_trans_time  555719 non-null  object
 2   cc_num                 555719 non-null  int64
 3   merchant               555719 non-null  object
 4   category               555719 non-null  object
 5   amt                    555719 non-null  float64
 6   first                  555719 non-null  object
 7   last                   555719 non-null  object
 8   gender                 555719 non-null  object
 9   street                 555719 non-null  object
 10  city                   555719 non-null  object
 11  state                  555719 non-null  object
 12  zip                    555719 non-null  int64
 13  lat                    555719 non-null  float64
 14  long                   555719 non-null  float64
 15  city_pop               555719 non-null  int64
 16  job                    555719 non-null  object
 17  dob                    555719 non-null  object
 18  trans_num              555719 non-null  object
 19  unix_time              555719 non-null  int64
 20  merch_lat              555719 non-null  float64
 21  merch_long             555719 non-null  float64
 22  is_fraud               555719 non-null  int64
dtypes: float64(5), int64(6), object(12)
memory usage: 97.5+ MB

In [9]:
df.isnull().any()

Unnamed: 0               False
trans_date_trans_time    False
cc_num                   False
merchant                 False
category                 False
amt                      False
first                    False
last                     False
gender                   False
street                   False
city                     False
state                    False
zip                      False
lat                      False
long                     False
city_pop                 False
job                      False
dob                      False
trans_num                False
unix_time                False
merch_lat                False
merch_long               False
is_fraud                 False
dtype: bool

In [11]:
df.duplicated().any()

False

In [24]:
df.head()

,Unnamed: 0,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,...,lat,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud
0,0,2020-06-21 12:14:25,2291163933867244,fraud_Kirlin and Sons,personal_care,2.86,Jeff,Elliott,M,351 Darlene Green,...,33.9659,-80.9355,333497,Mechanical engineer,1968-03-19,2da90c7d74bd46a0caf3777415b3ebd3,1371816865,33.986391,-81.200714,0
1,1,2020-06-21 12:14:33,3573030041201292,fraud_Sporer-Keebler,personal_care,29.84,Joanne,Williams,F,3638 Marsh Union,...,40.3207,-110.4360,302,"Sales professional, IT",1990-01-17,324cc204407e99f51b0d6ca0055005e7,1371816873,39.450498,-109.960431,0
2,2,2020-06-21 12:14:53,3598215285024754,"fraud_Swaniawski, Nitzsche and Welch",health_fitness,41.28,Ashley,Lopez,F,9333 Valentine Point,...,40.6729,-73.5365,34496,"Librarian, public",1970-10-21,c81755dbbbea9d5c77f094348a7579be,1371816893,40.495810,-74.196111,0
3,3,2020-06-21 12:15:15,3591919803438423,fraud_Haley Group,misc_pos,60.05,Brian,Williams,M,32941 Krystal Mill Apt. 552,...,28.5697,-80.8191,54767,Set designer,1987-07-25,2159175b9efe66dc301f149d3d5abf8c,1371816915,28.812398,-80.883061,0
4,4,2020-06-21 12:15:17,3526826139003047,fraud_Johnston-Casper,travel,3.19,Nathan,Massey,M,5783 Evan Roads Apt. 465,...,44.2529,-85.0170,1126,Furniture designer,1955-07-06,57ff021bd3f328f8738bb535c302a31b,1371816917,44.959148,-85.884734,0

In [32]:
dummy_df = pd.get_dummies(df['gender'])
dummy_df.head()

       F      M
0  False   True
1   True  False
2   True  False
3  False   True
4  False   True

In [70]:
#normalization 
from sklearn.preprocessing import MinMaxScaler
numerical_features = df.select_dtypes(include=['int64', 'float64']).columns
scaler = MinMaxScaler()
df[numerical_features] = scaler.fit_transform(df[numerical_features])
print(df.head())

   Unnamed: 0  trans_date_trans_time    cc_num  merchant  category       amt  \
0    0.000000                      0  0.000459       319        10  0.000082
1    0.000002                      1  0.000716       591        10  0.001267
2    0.000004                      2  0.000721       611         5  0.001769
3    0.000005                      3  0.000719       222         9  0.002594
4    0.000007                      4  0.000706       292        13  0.000096

   first  last  gender  street  ...  dob  trans_num     unix_time  merch_lat  \
0    151   115       1     341  ...  376      98699  0.000000e+00   0.313922
1    163   457       0     354  ...  760     108785  4.785402e-07   0.428589
2     24   249       0     865  ...  421     433979  1.674891e-06   0.450526
3     42   457       1     320  ...  718      71993  2.990876e-06   0.205343
4    247   261       1     548  ...  177     190585  3.110511e-06   0.544191

   merch_long  is_fraud      F      M      F      M
0    0.857112       0.0  False   True  False   True
1    0.568706       0.0   True  False   True  False
2    0.927355       0.0   True  False   True  False
3    0.860298       0.0  False   True  False   True
4    0.810140       0.0  False   True  False   True

[5 rows x 27 columns]

In [64]:
from sklearn.preprocessing import LabelEncoder
categorical_features = df.select_dtypes(include=['object']).columns
#Label Encoding
label_encoders = {}
for col in categorical_features:
    le = LabelEncoder()
    df[col] = le.fit_transform(df[col])
    label_encoders[col] = le

# Print the dataframe with label encoded columns
print(df.head())

   Unnamed: 0  trans_date_trans_time    cc_num  merchant  category       amt  \
0    0.000000                      0  0.000459       319        10  0.000082
1    0.000002                      1  0.000716       591        10  0.001267
2    0.000004                      2  0.000721       611         5  0.001769
3    0.000005                      3  0.000719       222         9  0.002594
4    0.000007                      4  0.000706       292        13  0.000096

   first  last  gender  street  ...  dob  trans_num     unix_time  merch_lat  \
0    151   115       1     341  ...  376      98699  0.000000e+00   0.313922
1    163   457       0     354  ...  760     108785  4.785402e-07   0.428589
2     24   249       0     865  ...  421     433979  1.674891e-06   0.450526
3     42   457       1     320  ...  718      71993  2.990876e-06   0.205343
4    247   261       1     548  ...  177     190585  3.110511e-06   0.544191

   merch_long  is_fraud      F      M      F      M
0    0.857112       0.0  False   True  False   True
1    0.568706       0.0   True  False   True  False
2    0.927355       0.0   True  False   True  False
3    0.860298       0.0  False   True  False   True
4    0.810140       0.0  False   True  False   True

[5 rows x 27 columns]

In [66]:
df.head()

,Unnamed: 0,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,...,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud,F,M,F,M
0,0.000000,0,0.000459,319,10,0.000082,151,115,1,341,...,376,98699,0.000000e+00,0.313922,0.857112,0.0,False,True,False,True
1,0.000002,1,0.000716,591,10,0.001267,163,457,0,354,...,760,108785,4.785402e-07,0.428589,0.568706,0.0,True,False,True,False
2,0.000004,2,0.000721,611,5,0.001769,24,249,0,865,...,421,433979,1.674891e-06,0.450526,0.927355,0.0,True,False,True,False
3,0.000005,3,0.000719,222,9,0.002594,42,457,1,320,...,718,71993,2.990876e-06,0.205343,0.860298,0.0,False,True,False,True
4,0.000007,4,0.000706,292,13,0.000096,247,261,1,548,...,177,190585,3.110511e-06,0.544191,0.810140,0.0,False,True,False,True

In [68]:
df

,Unnamed: 0,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,...,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud,F,M,F,M
0,0.000000,0,4.589232e-04,319,10,0.000082,151,115,1,341,...,376,98699,0.000000e+00,0.313922,0.857112,0.0,False,True,False,True
1,0.000002,1,7.156895e-04,591,10,0.001267,163,457,0,354,...,760,108785,4.785402e-07,0.428589,0.568706,0.0,True,False,True,False
2,0.000004,2,7.207342e-04,611,5,0.001769,24,249,0,865,...,421,433979,1.674891e-06,0.450526,0.927355,0.0,True,False,True,False
3,0.000005,3,7.194732e-04,222,9,0.002594,42,457,1,320,...,718,71993,2.990876e-06,0.205343,0.860298,0.0,False,True,False,True
4,0.000007,4,7.064345e-04,292,13,0.000096,247,261,1,548,...,177,190585,3.110511e-06,0.544191,0.810140,0.0,False,True,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
555714,0.999993,544755,6.109391e-06,507,5,0.001879,235,315,1,531,...,334,336391,9.999984e-01,0.439005,0.755501,0.0,False,True,False,True
555715,0.999995,544756,7.124010e-04,264,7,0.004868,171,424,1,540,...,890,70372,9.999985e-01,0.223152,0.706832,0.0,False,True,False,True
555716,0.999996,544757,1.204176e-03,496,7,0.003772,18,239,0,126,...,609,235088,9.999989e-01,0.579850,0.470886,0.0,True,False,True,False
555717,0.999998,544758,8.051039e-07,75,13,0.000307,111,342,1,663,...,331,43546,9.999994e-01,0.533937,0.497302,0.0,False,True,False,True
555718,1.000000,544759,8.354046e-04,125,0,0.001631,280,145,1,778,...,813,50595,1.000000e+00,0.360588,0.698310,0.0,False,True,False,True